.wrapper {
    overflow-x: hidden;
    height: 100%;
    background-color: #EEEEEE;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-sbDeepBlue { background-color: #1d7ad8; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }